.webcam-container {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #ccc;
  overflow: hidden;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .webcam-container {
    height: 200px;
    margin-top: 20px;
  }

  .webcam-buttons {
    flex-direction: column !important;
    gap: 10px;
  }
}
